# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files

# Ignore Drupal webroot files pulled down by composer.  
docroot/.csslintrc
docroot/.editorconfig
docroot/.eslintignore
docroot/.eslintrc.json
docroot/.gitattributes
docroot/.ht.router.php
docroot/.htaccess
docroot/autoload.php
docroot/index.php
docroot/robots.txt
docroot/sites/
docroot/update.php
docroot/web.config

# Ignore Composer-managed dependencies.
vendor/

# Ignore Emacs backup files
*~
\#*

# Ignore PHPStorm project files
.idea
